.wrapper{
    margin-top: -10px;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--fontWeights-medium);
    font-size: var(--fontSizes-xxl);
    color: var(--text--color);
}
.btnHome{
    margin: 8px;
    width: 288px;
    height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--main-color-3);
    font-weight: var(--fontWeights-bold);
    font-size: var(--fontSizes-xl);
    color: var(--text--color--white);
    
    &:hover{
        background-color: var(--main-color-2);
        cursor: pointer;
    }
}
.body-table{
    padding-top: 120px;
    background-color: var(--default-background-color);
    height: 100vh;
}
.table{
    display: flex;
    flex-direction: column;
    width: 70%;
    border:1px solid black;
    background-color: white;

}
th,td{
    border:1px solid black;

}