
.wrapper{
margin-top: -10px;
}
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../../assets/image/loginss.svg);
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 150px;
    background-color: white;
    width: 500px;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);

}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    
}
.input{
    margin: 0px 0px 10px 0px;
    width: 365px;
    height: 50px;
    padding-left: 16px;
    padding-right: 20px;
    background-color: var(--textbox);    

    background-color: var(--textbox);
    // border: 1.8px solid transparent;

    border: 1.8px solid transparent;
    border-radius: var(--border-radius);
    
    &:focus-within{
    border-color: var(--primary);
    }
}
.title{
    display: flex;
    justify-content: center;
    color: var(--text--color);
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: var(--fontWeights-bold);
}
.placehoder-text{
    display: flex;
    justify-content: center;
    color: var(--text--color--placehoder);
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: var(--fontSizes-md);
    font-weight: 400;
}
.button-container{
    width: 150px;
    height: 60px;
    
}
.label{
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    margin-top: 10px;
    font-weight: var(--fontWeights-medium);
}

.error{
    color: red;
    margin: 0;
    font-size: var(--fontSizes-md);
    width: 98%;
}

.button-container{
    border-radius: var(--border-radius);
    width: 420px;
    margin-bottom: 20px;
    background-color: var(--main-color-3);
    font-weight: var(--fontWeights-bold);
    font-size: var(--fontSizes-xl);
    color: var(--text--color--white);
    &:hover{
        background-color: var(--main-color-2);
        cursor: pointer;
    }
}
.remember{
    display: flex;
    margin-bottom: 20px;
}
.remember-text{
    color: var(--text--color--placehoder);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--fontSizes-xl);
    font-weight: 400;
}
.forgotPass{
    margin-left: 190px;
    color: var(--main-color-3);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--fontSizes-xl);
    font-weight: var(--fontWeights-medium);
    &:hover{
        color: var(--main-color-5);
    }
}
.create-user{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.create-link{
    color: var(--primary);
    padding-left: 5px;
    font-size: var(--fontSizes-xl);
    font-weight: var(--fontWeights-medium);
    &:hover{
        color: var(--main-color-5);
    }
}
p{  
    margin: 0;
    font-size: var(--fontSizes-xl);
}
.rq{
    color: red;
}
.messages{
color: var(--text--color);
padding-left: 5px;
font-size: var(--fontSizes-xl);
font-weight: var(--fontWeights-medium);
}
.doneMsg{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
    font-weight: var(--fontWeights-medium);
    color: red;
}

section {
    width: 200px;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    border-radius: var(--border-radius);
   // box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);

}

