.wrapper{
    width: var(--default-layout-width-content);
    height: 100%;
}

.rowCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}