@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');


:root{
    --primary: #2E8FE9;
    --black: #000;
    --text--color: #333;
    //default layout header height
    --default-layout-header-height: 90px;
    --default-layout-width-content: 1150px;
    --default-background-color: #F1F5F9;
}

html{
    font-size: 70%;
}

body{
    background-color: var(--default-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering:optimizeSpeed;
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text--color);
    text-decoration: none;
}

