@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;800&display=swap');

:root{
    --primary: #2E8FE9;
    --black: #000;
    --text--color: #333;
    //default layout header height
    --default-layout-header-height: 90px;
    --default-layout-width-content: 1150px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering:optimizeSpeed;
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text--color);
    text-decoration: none;
}