@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

:root{
    //white palettes
    --main-color-1: #D6E6F2;
    --main-color-2: #B9D7EA;
    --main-color-3: #769FCD;
    --main-color-4: #F7FBFC;
    --main-color-5: #407BFF;
    --primary: #2E8FE9;
    --black: #000;
    --text--color: #333;
    --text--color--placehoder: #a0aec0;
    --text--color--white: white;
    --textbox:#F0F0F0;
    --price-previous: #9E9EA7;
    --price: #E83A45;
    //default layout header height
    --default-layout-header-height: 90px;
    --default-layout-width-content: 1280px;
    --default-background-color: #F1F5F9;
    //spacing
    --spacing-md: 16px;
    --spacing-lg: 32px;
    //border radius
    --border-radius: 12px;  
    //header height
    --header-height:  100px; 
    --fontSizes-md: 1rem;
    --fontSizes-lg: 1.125rem;
    --fontSizes-xl: 1.25rem; 
    --fontSizes-xxl: 1.6rem;  
    //fontw
    --fontWeights-normal: 400;
    --fontWeights-medium: 500;
    --fontWeights-bold: 700;
}
// @mixin breakpoint($point){
//     @if $point == md{
//         @media (min-width: 48em){
//             @content;
//         }
//     }
// }
html{
    font-size: 70%;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #769FCD;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering:optimizeSpeed;
    // width: 100%;
    // height: 100%;
    margin: 0;
    padding: 0;
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--main-color-3);
    text-decoration: none;
}

