

.carousel-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 1270px;
    max-height: fit-content;
    margin-top: 50px;
  }