.wrapper{
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
}

.primary{
    color: white;
    background-color: #d70018;

    &:hover{
    color: rgb(187, 181, 181);
    background-color: #ba1024;
    }
}

.outline{
    color: #DC00AC;
    border-color: currentColor;

    &:hover{
        color: rgb(187, 181, 181);
        background-color: #b4048e;
    }
}