.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.container{
    margin: 20px;
    width: var(--default-layout-width-content);
    display: flex;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px; 
}