.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
// .header{
//     overflow: hidden;
//     background-color: #333;
//     top: 0;
// }
.body{
    margin-top: 90px;
}
.container{
    margin: 20px;
    width: var(--default-layout-width-content);
    display: flex;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px; 
}